body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
  font-size: 0.85rem;
}

.container {
  background-color: hsl(0, 0%, 100%);
  max-width: 35rem;
  padding: 2rem;
  border-radius: 2rem;
}

.header-description {
    margin-bottom: 2rem;
}

b {
    font-weight: 700;
}
ul,
ol {
    padding-left: 1.25rem;
}

li {
    margin-block: 0.5rem;
    padding-left: 1rem;
}

li::marker {
    color: hsl(14, 45%, 36%) 

}

.section-divider {
    color: hsl(30, 10%, 34%);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}



.prep {
    background-color: hsl(330, 100%, 98%);
    border-radius: 1rem;
    padding: 0.3rem;
    padding-left: 1rem;
}

.prep-header {
    color: hsl(332, 51%, 32%)
}
.prep-list {
    color: hsl(30, 10%, 34%)
}
h1 {
    font-family: "Young Serif", sans-serif;
}

h2 {
    font-family: "Young Serif", sans-serif;
    color: hsl(14, 45%, 36%)
}

img {
  max-width: 100%;
  border-radius: 1rem;
}

table {
  border-collapse: collapse; /* Crucial step */
  width: 100%;
  border-spacing: 10px;
}

.table-row {
    border-bottom: 1px solid hsl(30, 10%, 34%);
    
}

td {
   padding: 1rem; 
}

.amount {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
